"*":
  Zen:
    softWrap: true
  "atom-beautify":
    _analyticsUserId: "a346902f-9ff9-4be4-8ffa-cf0bf68cafeb"
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "latex-completions"
      "exception-reporting"
      "atom-python-debugger"
      "python-isort"
      "autocomplete-bibtex"
      "ex-mode"
      "latexer"
      "archive-view"
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "deprecation-cop"
      "dev-live-reload"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-go"
      "language-java"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-property-list"
      "language-sass"
      "language-toml"
      "metrics"
      "release-notes"
      "spell-check"
      "welcome"
      "styleguide"
      "language-gfm"
      "markdown-preview"
      "markdown-scroll-sync"
      "vim-mode"
      "vim-surround"
      "latex-plus"
    ]
    projectHome: "/home/sorge/repos"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    scrollPastEnd: true
    tabLength: 4
  "exception-reporting":
    userId: "e4298220-e885-6af2-5ff4-1044af9eae5d"
  "highlight-line":
    enableBackgroundColor: false
  "linter-pep257": {}
  "linter-pylint": {}
  "markdown-preview": {}
  "markdown-writer":
    fileExtension: ".md"
  minimap:
    absoluteMode: true
    displayMinimapOnLeft: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
  "spell-check": {}
  "status-bar": {}
  texlicious: {}
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
  "zotero-citations": {}
".md.text":
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrap: false
    softWrapAtPreferredLineLength: false
    tabLength: 2
